build
.vscode
.idea
.DS_Store
__pycache__/
wineprefix
.wine-x86_64-test
.cache
wine
!external/wine
!tests/wine/
!tests/wine/**
!benchmarks/wine/
!benchmarks/wine/**
.local
.config
toolchains
build-local.txt
*.cso
*.ll
winetricks
*.vt100
ref.sh
*.js
*.test
releases
prefixes
AGENTS.md
/.dxmt-builder/config.json
