[submodule "external/nvapi"]
	path = external/nvapi
	url = https://github.com/NVIDIA/nvapi.git
[submodule "include/native/directx"]
	path = include/native/directx
	url = https://github.com/misyltoad/mingw-directx-headers
[submodule "external/wine"]
	path = external/wine
	url = https://github.com/gamesir-labs/wine.git
	branch = main
[submodule "external/apitrace"]
	path = external/apitrace
	url = https://github.com/gamesir-labs/apitrace.git
