build
.vscode
.DS_Store
wineprefix
.wine-x86_64-test
.cache
wine
!external/wine
!benchmarks/wine/
!benchmarks/wine/**
.local
.config
toolchains
build-local.txt
*.cso
*.ll
winetricks
*.vt100
ref.sh
*.js
*.test
releases
prefixes
AGENTS.md
